oauth2client==3.0.0
firebase_admin==4.3.0
statsmodels==0.10.2
more_itertools==7.2.0
six==1.15.0
colorama==0.4.3
lifelines==0.23.0
PyAutoGUI==0.9.48
pyodbc==4.0.30
tableauserverclient==0.13
alpha_vantage==2.1.3
oauth2==1.9.0.post1
psycopg2==2.8.6
boto3==1.12.23
google_auth_oauthlib==0.4.1
fix_yahoo_finance==0.1.37
httplib2==0.18.1
nbsphinx==0.8.0
tableauhyperapi==0.0.11355
numpy==1.17.3
pexpect==4.7.0
scipy==1.3.1
indeed==0.0.4
requests==2.24.0
twilio==6.40.0
pandas==0.25.2
matplotlib==3.1.1
teradata==15.10.0.21
geopy==1.22.0
selenium==3.141.0
seaborn==0.9.0
SQLAlchemy==1.3.11
sendgrid==6.4.4
docx==0.2.4
ib_insync==0.9.61
spotipy==2.13.0
cx_Oracle==8.0.1
google_api_python_client==1.12.5
protobuf==3.13.0
PyPDF2==1.26.0
scikit_learn==0.23.2
