lifelines==0.23.0
requests==2.24.0
seaborn==0.9.0
docx==0.2.4
sendgrid==6.4.4
SQLAlchemy==1.3.11
twilio==6.40.0
boto3==1.12.23
colorama==0.4.3
selenium==3.141.0
pyodbc==4.0.30
pandas==0.25.2
httplib2==0.18.1
PyAutoGUI==0.9.48
matplotlib==3.1.1
alpha_vantage==2.1.3
numpy==1.17.3
tableauhyperapi==0.0.11355
more_itertools==7.2.0
oauth2client==3.0.0
firebase_admin==4.3.0
spotipy==2.13.0
statsmodels==0.10.2
geopy==1.22.0
oauth2==1.9.0.post1
ib_insync==0.9.61
pexpect==4.7.0
psycopg2==2.8.6
tableauserverclient==0.13
six==1.15.0
teradata==15.10.0.21
scipy==1.3.1
indeed==0.0.4
google_auth_oauthlib==0.4.1
nbsphinx==0.8.0
fix_yahoo_finance==0.1.37
cx_Oracle==8.0.1
google_api_python_client==1.12.5
protobuf==3.13.0
PyPDF2==1.26.0
scikit_learn==0.23.2
