nbsphinx==0.8.0
boto3==1.12.23
lifelines==0.23.0
teradata==15.10.0.21
six==1.15.0
seaborn==0.9.0
tableauhyperapi==0.0.11355
google_auth_oauthlib==0.4.1
ib_insync==0.9.61
spotipy==2.13.0
colorama==0.4.3
botocore==1.15.39
psycopg2==2.8.6
gcloud==0.17.0
tda_api==0.7.1
pexpect==4.7.0
alpha_vantage==2.1.3
httplib2==0.18.1
selenium==3.141.0
twilio==6.40.0
more_itertools==7.2.0
sendgrid==6.4.4
docx==0.2.4
scipy==1.3.1
geopy==1.22.0
firebase_admin==4.3.0
tableauserverclient==0.13
oauth2==1.9.0.post1
numpy==1.22.0
requests==2.24.0
pandas==0.25.2
SQLAlchemy==1.3.11
statsmodels==0.10.2
PyAutoGUI==0.9.48
oauth2client==3.0.0
matplotlib==3.1.1
cx_Oracle==8.1.0
google_api_python_client==1.12.8
protobuf==3.15.0
PyPDF2==1.26.0
scikit_learn==0.24.0
sphinx==3.1.1
sphinx-rtd-theme==0.5.0
sphinx-autodoc-typehints
nbsphinx==0.8.0