botocore==1.15.39
spotipy==2.13.0
seaborn==0.9.0
alpha_vantage==2.1.3
sendgrid==6.4.4
six==1.15.0
httplib2==0.18.1
geopy==1.22.0
selenium==3.141.0
docx==0.2.4
google_auth_oauthlib==0.4.1
boto3==1.12.23
tableauserverclient==0.13
oauth2client==3.0.0
matplotlib==3.1.1
lifelines==0.23.0
nbsphinx==0.8.0
PyAutoGUI==0.9.48
psycopg2==2.8.6
statsmodels==0.10.2
more_itertools==7.2.0
requests
colorama==0.4.3
oauth2==1.9.0.post1
firebase_admin==4.3.0
scipy==1.3.1
pandas==0.25.2
numpy==1.17.3
pexpect==4.7.0
gcloud==0.17.0
SQLAlchemy==1.3.11
teradata==15.10.0.21
indeed==0.0.4
tda_api==0.7.1
tableauhyperapi==0.0.11355
ib_insync==0.9.61
twilio==6.40.0
cx_Oracle==8.1.0
google_api_python_client==1.12.8
protobuf==3.14.0
PyPDF2==1.26.0
scikit_learn==0.23.2
sphinx==3.1.1
sphinx-rtd-theme==0.5.0
sphinx-autodoc-typehints
nbsphinx==0.8.0